MONGODB_URI=mongodb://localhost:27017/snoop
MONGO_DB_DEBUG=false
JWT_SECRET=your_super_secret_key_that_is_long_and_complex_123!@#
LOG_LEVEL=debug
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token
TRACKING_SECRET_KEY=your_tracking_secret_key
API_BASE_URL=only-for-production